<div class="wrapper">
  <div class="content-index">

    <div class="cards-container">
      <div class="row">
        <div class="card" id="card-index">
          <% @prestations.each do |prestation| %>
            <div class="col-xs-12 col-sm-4">
              <%= render 'shared/card', prestation: prestation %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>

  </div>
</div>