// Define variables for your color scheme

// For example:
$red: #FF0108;
$red_light: #FF4F61;
$blue: #2ED2D7;
$blue_light: #26A8D5;
$green: #04ECCA;
$green_light: #00A2A8;
$purple: #9259BE;
$purple_light: #B15AA1;
$gray: #000000;
$light-gray: #F4F4F4;
