.card-booking {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/dfjd5sbad/image/upload/v1511968719/emghxa2ioidbq0etjfxd.jpg);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.card-status{
  width: 100%;
  background-color: white;
  border: 0.5px solid #D1D1D1;
  justify-content: center;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  // position: absolute;
  padding: 8px;
  i, a {
    flex: 0 0 auto;
  }
  a:hover {
    text-decoration: none;
  }
}
.all_bookings{
  padding: 10px 0px;
  margin: 0 30px;
  border-bottom: 1px solid #dadada;

}
.show-top {
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    border: 1px solid red;
  }
}
.show-picture {
  flex: 1 0 600px;
}
.show-status {
  flex: 0 0 400px;
}

