.content{
  display: flex;
  justify-content: space-around;
}

.card-container {
  // border: 1px solid #F1E9E3;
  background-size: cover !important;
  padding: 10px;
  margin-top: 20px;
  width: 75%;
  border-radius: 2px;
  display: flex;
  height: 360px;
  position: relative;
}

.card-details {
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  justify-content: right;
  h2 {
    color: white;
    margin-top: 10px;
    padding: 0;
  }
  p {
    position: absolute;
    top: 296px;
    right: 10px;
    color: white;
    font-size: 30px;
  }
}

.card-white-bottom {
  // margin-left: 20px, auto, 0;
  width: 75%;
  border: 0.5px solid #D1D1D1;
  justify-content: center;
  border-radius: 2px;
  display: flex;
  height: 100%;
  background-color: white;
  p {
    color: #353535;
    margin-top: 20px;
    text-style: none;
    text-shadow: none;
  }
}

.card-form form {
  font-size: 22px;
  text-shadow: none;
  text-align: center;
  border-radius: 3px;
  position: relative;;
  background-position: center;
}

.card-form {
  background-color: #D6E4F0;
  height: 95%;
  padding: 37px;
  color: black;
  input {
    font-size: 21px;
    height: 35px;
    width: 340px;
    margin-top: 20px;
  }
}

#booking {
  background-color: #D6E4F0;
  flex: 0 0 250px;
  height: 100%;
  padding: 20px;
  position: sticky !important;
  top: 0 !important;
  margin-top: 20px;
  border-radius: 2px;
}

#booking form {
  text-align: center;
  font-size: 13px;
  input {
    font-size: 12px;
    height: 25px;
    width: 200px;
    margin-left: 25px;
    margin-right: 20px;
  }
  textarea {
    font-size: 12px;
    height: 50px;
    width: 200px;
    margin-left: 25px;
    margin-right: 20px;
  }
}

#prestation_job {
  font-size: 30px;
  font-weight: 100;
}

