.booking-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 0.0px;
  border-image-width: 1;
}


.card-booking-container {
  width: 300px;
}


.user-name {
  background-color:grey;
  border-radius: 2px;
  margin:2px 5px 2em 0;
  padding:7px 15px;
  color: white;
  font-size: 20px;
  }
