
<div class='container'>
  <div class="booking-container">

    <div class="col-xs-4 ">
      <div class = "card2">
        <p class="user-name"><%=@booking.user.email%></p>
        <div class="card-body">
          <div id="photo-plus">
            <%= image_tag "soniaidphoto.JPG", height:300 %>
          </div>

          <div class="footer footer-booking">
           <% if policy(@booking).destroy? %>
             <%= link_to "Delete", booking_path(@booking),
                   method: :delete,
                   data: { confirm: "Are you sure?" } %>
           <% end %>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

