
<div class="container">

  <div class="booking-container">
    <div class="row">

      <div class="card-booking-container">

        <p class="user-name"> <%= @booking.prestation.user.first_name %> </p>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path @booking.prestation.user.picture, height: 300, width: 400, crop: :fill %>');
        ">

        </div>

        <div class="card-status">
          <p>STATUS</p>
          <% if policy(@booking).destroy? %>
            <%= link_to "Delete", booking_path(@booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>

      </div>
    </div>

    </div>
  </div>

</div>

