<div class="card">
  <div class="card-body" style="background-image: url('images/banner-kid.jpg');">

   <div class="card-category">
      <p>Prestations</p>
    </div>

   <<!-- div class="card-text">
      <h3>Belle fille idéale</h3>
      <p>Charming room in Shangai</p>
    </div>

   <div class="card-avatar">
      <img src="images/gab.png" class="avatar-sm" alt="photo de gabriel">
    </div>
  </div>

 <div class="footer">
      <p class="footer-date">Posted on 22/11/2010</p>

    <ul class="footer-icons">
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-heart" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
      </ul>
  </div>
</div> -->
