<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
url(<%= image_path 'cover_2' %>);">
  <div class="banner-content">
    <h1>Plus one </h1>
    <p>Find your Plus one </p>
    <%= link_to "Looking for a Plus one",prestations_path, :class => "btn-plusone_large"  %>
    <%= link_to "Become a Plus one ", new_prestation_path, :class => "btn-plusone_large" %>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <% 3.times do |card| %>
      <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card', prestation: @prestation %>
      </div>
    <% end %>
  </div>
</div>
