
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://doctorsofficeami.com/wp-content/uploads/2017/01/anna-maria-island-cocktail-bar-1.jpg');">
  <div class="banner-content">
    <h1>Plus one </h1>
    <p>Find your Plus one </p>
    <%= link_to "Looking for a Plus one ", prestations_path, :class => "btn btn-danger btn-lg" %>
    <%= link_to "Become a Plus one ", new_user_session_path, :class => "btn btn-danger btn-lg" %>

  </div>

</div>


