.btn-plusone {
  color: linear-gradient(#FF4F61, #FF0108);
  padding: 7px 10px;
  border-radius: 2px;
  font-weight: bold;
  transition: background 0.7s ease;
  text-decoration: none;
}

.btn-plusone:hover {
  opacity: 1;
  background: linear-gradient(#FF4F61, #FF0108);
  opacity: 0,5;
  text-decoration: none;
  color: white;
}

.btn-plusone_regular {
  color: white;
  background: linear-gradient(#FF4F61, #FF0108);
  padding: 10px 10px;
  margin: 10px;
  // border: 0.5px, solid, #FF0108;
  border-radius: 3px;
  font-weight: bold;
  font-size: medium;
  transition: background 0.7s ease;
  text-decoration: none;
}

.btn-plusone_regular:hover {
  opacity: 1;
  background: linear-gradient(45deg, #FF4F61, #FF0108);
  opacity: 0,5;
  text-decoration: none;
  color: white;
}

.btn-plusone_large {
  color: white;
  background: linear-gradient(45deg, #FF4F61, #FF0108);
  padding: 15px 15px;
  margin: 3px;
  // border: 0.5px, solid, #FF0108;
  border-radius: 2px;
  font-weight: normal;
  font-size: x-large;
  transition: background 0.7s ease;
  text-decoration: none;
}

.btn-plusone_large:hover {
  opacity: 1;
  background: linear-gradient(45deg, #FF4F61, #FF0108);
  opacity: 0,5;
  text-decoration: none;
  color: white;
}
